/* ********************************VARIABLE */

:root {
  --primary-clr: #bdc0c5;
  --secondary-clr: #000;
  --opacity: 0.5;
}

/* ********************************GLOBAL STYLE */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
  text-align: center;
}

header {
  padding-block: 1rem;
  border-bottom: 1px solid lightgray;
}
h1 {
  font-size: clamp(2rem, 7vw, 4rem);
}
h2 {
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  padding-block: 1rem;
  border-top: 1px solid lightgray;
}
h3 {
  font-size: clamp(1.2rem, 5vw, 2rem);
  margin-block: 0.5rem;
}
img {
  max-width: 100%;
  object-fit: cover;
}
nav {
  margin: 1rem;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  margin: 0.5rem;
}
a {
  color: var(--secondary-clr);
  text-decoration: none;
  opacity: var(--opacity);
  padding: 1rem;
}
a:hover {
  opacity: 1;
  text-decoration: underline;
}
main p {
  padding-block: 1rem;
}
aside {
  padding-block: 1rem;
  border-top: 1px solid lightgray;
}
aside p {
  opacity: var(--opacity);
}
footer {
  padding-block: 1rem;
  border-top: 1px solid lightgray;
}

/* ********************************RESPONSIVE */

@media screen and (min-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  header,
  nav,
  footer {
    grid-column: span 3;
  }
  main {
    grid-column: span 2;
  }
  main img {
    padding-inline: 2rem;
  }
  main p {
    margin: 0 2rem;
  }
  aside {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
  }
  footer {
    padding-block: 3rem;
  }
}
@media screen and (min-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr 3fr 1fr;
  }
  header {
    grid-column: span 4;
  }
  nav {
    grid-column: span 1;
  }
  ul {
    flex-direction: column;
  }
  main {
    grid-column: span 1;
  }
  aside {
    grid-column: span 1;
  }
}
